server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://192.168.1.6:3306/classroom
    username: devuser
    password: dev123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect